body {
    background-color: rgb(241, 241, 241);
}

.main-container {
    display: grid;
    /* background-color: chocolate; */
    grid-template-columns: 50% 40%;
    grid-template-rows: auto;
    align-content: center;
    gap: 0 10%;

    width: 50vw;
    /* min-width: 400px; */
    margin: 50px auto;
}

.left-container {
    /* background-color: aqua; */
    display: flex;
    width: 100%;
    align-items: center;
}

#img-1 {
    width: 70%;
}

#img-2 {
    width: 73.5%;
    margin-left: -50%;
    margin-top: 7%;
}

.right-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 65% 10% 18%;
    gap: 2%;

    width: 100%;
}

#input {
    margin-top: 8%;
    background-color: white;
    border-radius: 10px;
}

#instagram {
    width: 55%;
    margin-top: 8%;
    margin-bottom: 3%;
}

.input-box {
    border: 1px solid black;
    width: 80%;
    padding: 3% 1%;
    margin: 1% 0;
    background-color: rgb(248, 248, 248);
    font-family: sans-serif;
    font-size: 0.7em;
}

#button {
    width: calc(82% + 2px);
    padding: 1% 0;
    border: 1px solid rgb(21, 111, 170);
    margin: 2% 0;
    background-color: rgb(76, 169, 231);
    color: white;
    font-size: 0.8em;
    font-weight: 700;
}

#button:hover {
    transition: background 200ms ease 0s;
    background-color: rgb(129, 189, 231);
}

#line {
    display: flex;
    width: calc(82% + 2px);
    margin: 3% 0;
    align-items: center;
    justify-content: space-between;
}

#or {
    width: auto;
    font-family: sans-serif;
    font-size: 0.7em;
}

#line-1,
#line-2 {
    background-color: rgb(172, 172, 172);
    height: 1px;
    width: 40%;
}

#facebook-login {
    display: flex;
    width: calc(82% + 2px);
    height: 40%;
    background-color: black;
}

#pending-1,
#pending-2 {
    background-color: white;
    border-radius: 5px;
}
